{% extends 'base.html.twig' %}

{% block title %}about Jstech{% endblock %}

{% block content %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">A propos de Jstech</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                    <li class="active" aria-current="page">A propos de Jstech</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- Start About Top -->
    <div class="about-top">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between d-sm-column">
                <div class="col-md-6">
                    <div class="about-img" data-aos="fade-up" data-aos-delay="0">
                        <div class="img-responsive">
                            <img src="{{ asset('images/logo/logo.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="title">A propos de mon site e-commerce</h3>
                        <h5 class="semi-title">Dans le cadre de ma formation de développeur Web et Web mobile, j’ai eu le plaisir de développer la partie front-end et back-end d’une application web et web mobile. </h5>
                        <p>Cette application est réalisée sous forme de projet.</p>
                        <p>Le projet a pour but la découverte et l’apprentissage du Framework Symfony 6.</p> 
                        <p>Symfony est un Framework MVC (Modèle, Vue, Contrôleur) libre écrit en PHP. Comme tout Framework, il facilite et accélère le développement de sites et d'applications Internet et Intranet.</p>
                        <p>L’objectif sera donc la création d’un site e-commerce. Je l’ai nommé "JSTECH".</p>
                        <p>Le site de "JSTECH" est une plateforme de vente en ligne, et doit être en mesure de proposer une expérience de qualité aux visiteurs du site.</p> 
                        <p>Le back-office du site doit également permettre une gestion quotidienne des activités e-commerce (suivi des commandes, mise à jour du catalogue produit) sans avoir besoin d’interventions externes.</p> 
                        <p>"JSTECH" cible les particuliers, les consommateurs de matériels informatiques, principalement une clientèle jeune (25-45 ans).</p>  
                        <p>Le projet a été réalisé d’aout 2022 à octobre 2022 pour une mise en service en janvier 2023.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Top -->

    <!-- Start Service Section -->
    <div class="service-promo-section section-top-gap-100">
        <div class="service-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                            <div class="image" style="height: 100px">
                                <img src="{{ asset('images/about/image1.png') }}" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">Symfony</h6>
                                <p>Symfony est un Framework MVC (Modèle, Vue, Contrôleur) libre écrit en PHP. Comme tout Framework, il facilite et accélère le développement de sites et d'applications Internet et Intranet.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                            <div class="image" style="height: 100px">
                                <img src="{{ asset('images/about/image2.png') }}" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">Stripe</h6>
                                <p>Stripe est une suite d'API offrant des solutions de traitement des paiements et de commerce en ligne pour les entreprises de toutes tailles. On peut également définir Stripe en tant que passerelle qui relie son compte bancaire à son site e-commerce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                            <div class="image" style="height: 100px">
                                <img src="{{ asset('images/about/image3.png') }}" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">Twig</h6>
                                <p>Twig est un moteur de templates pour le langage de programmation PHP, utilisé par défaut par le Framework Symfony.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                    <!-- Start Service Promo Single Item -->
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="600">
                            <div class="image" style="height: 100px">
                                <img src="{{ asset('images/about/image4.png') }}" alt="">
                            </div>
                            <div class="content">
                                <h6 class="title">Figma</h6>
                                <p>Figma est un éditeur de graphiques vectoriels et un outil de prototypage. Il est principalement basé sur le web, avec des fonctionnalités hors ligne supplémentaires activées par des applications de bureau pour macOS et Windows. L'ensemble des fonctionnalités de Figma est axé sur l'utilisation dans la conception de l'interface utilisateur et de l'expérience utilisateur, en mettant l'accent sur la collaboration en temps réel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Promo Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Service Section -->

    <!--  Start  Team Section    -->
    <div class="team-section section-top-gap-100 secton-fluid section-inner-bg">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content text-center">
                                <h3 class="section-title">Entre la chaise et le clavier</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Content Text Area -->
        <div class="team-wrapper">
            <div class="container">
                <div class="row mb-n6" style="justify-content: center">
                    <div class="col-xl-3 mb-5">
                        <div class="team-single" data-aos="fade-up" data-aos-delay="0">
                            <div class="team-img">
                                <img class="img-fluid" src="{{asset('images/about/photo-1.jpg')}}" alt="">
                            </div>
                            <div class="team-content">
                                <h6 class="team-name font--bold mt-5">Jacques Steeven</h6>
                                <span class="team-title">Web Developer</span>
                                <ul class="team-social pos-absolute">
                                    <li><a href="https://www.linkedin.com/in/steeven-jacques-1337a9238/"><i class="ion-social-linkedin"></i></a></li>
                                    <li><a href="https://github.com/steeven-js"><i class="ion-social-rss"></i></a></li>
                                    {# <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram"></i></a></li> #}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   End  Team Section   -->

{% endblock %}
