{% extends 'base.html.twig' %}

{% block title %}Mon Panier
{% endblock %}

{% block content %}
	<section class="section">
		<div class="container">
			<h1>Rectouvez l'ensemble des produits que vous avez ajouté à votre panier.</h1>
			<hr>

			<table class="table mt-3">
				<thead>
					<tr>
						<th scope="col">Produit</th>
						<th scope="col"></th>
						<th scope="col">Quantité</th>
						<th scope="col">Prox</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					{% set total = null %}
					{% for product in cart %}
						<tr>
							<th>
								<img src="/uploads/{{product.product.illustration}}" height="75px" alt="{{product.product.name}}">
								<br>
							</th>
							<td>
								{{product.product.name}}
								<br>
								<small>{{product.product.subtitle}}</small>
							</td>
							<td>{{product.quantity}}</td>
							<td>{{((product.product.price) / 100) |number_format(2, ',', '.')}}
								€</td>
							<td>{{((product.product.price * product.quantity) / 100) |number_format(2, ',', '.')}}
								€</td>
						</tr>
						{% set total = total + (product.product.price * product.quantity) %}
					{% endfor %}
				</tbody>
			</table>
			<div class="text-right mb-5">
				<b>Nombe de produits:
				</b>
				{{cart|length}}
				<br>
				<b>Total du panier:
				</b>
				{{((total) / 100) |number_format(2, ',', '.')}}
				€

				<a href="#" class="btn btn-main btn-block">Valider mon panier</a>
			</div>
		</div>
	</section>


{% endblock %}
