{% extends 'base.html.twig' %}

{% block title %}Mes adresses
{% endblock %}

{% block content %}
<div class="account-page">

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Ajouter une adresses</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
									<li><a href="{{ path('app_account') }}">Mon compte</a></li>
                                    <li><a href="{{ path('app_account_address') }}">Mes adresses</a></li>
                                    <li class="active" aria-current="page">Ajouter une adresses</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

	<div class="container">		
		{{form_start(form)}}
		{{form_end(form)}}
	</div>
</div>
{% endblock %}