{% extends 'base.html.twig' %}

{% block title %} Mes adresses {% endblock %}


{% block content %}
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Mes adresses</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                    <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                                    <li class="active" aria-current="page">Mes adresses</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="{{ path('app_account') }}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover active">Dashboard</a>
                            </li>
                            <li> <a href="{{ path('app_account_order') }}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Gérer mes commandes</a></li>
                            <li><a href="{{ path('app_account_address') }}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Gérer mes adresses</a></li>
                            <li><a href="{{ path('app_account_address_add') }}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Ajouter une adresses</a></li>
                            <li><a href="{{ path('app_account_password') }}"
									class="nav-link btn btn-block btn-md btn-black-default-hover">Modifier mon mot de passe</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">

                        {% if app.user.addresse|lenght == 0 %}
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                <p>issou</p>
                            </div>
                        {% endif %}
                        <div class="row">
                            {% for address in app.user.addresses %}
                                <!-- product -->
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                    {# {{dump(address)}} #}
                                    <h5 class="card-title">{{address.name}}</h5>
                                    <p class="card-text">{{address.address}} <br>
                                        {{address.postal}} - {{address.city}} - {{address.country}}
                                    </p>
                                    {# Je passe en paramètre l'id de l'adresse que je souhaite modifier #}
                                    <a href="{{path('app_account_address_edit', {'id' : address.id})}}" class="view">Modifier</a>
                                    <a href="{{path('app_account_address_delete', {'id' : address.id})}}" class="view2">Supprimer</a>
                                </div>
                                <!-- /product -->
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->
{% endblock %}