{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française
{% endblock %}

{% block content %}
<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<h1>Modifier mon mot de passe</h1>
				<a href="{{ path('app_account') }}" class="btn"><i class="fa fa-arrow-left"></i> Mon compte</a><br>
				<hr>
				{% if notification %}
					<div class="alert alert-info"> {{ notification }}</div>
					<hr>
				{% endif %}
			
				{{form_start(form)}}
				{{form_end(form)}}
			</div>
			<div class="col-2">
				<img src="{{ asset('images/showcase-2.png') }}">
			</div>
		</div>
	</div>
</div>
{% endblock %}