{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française
{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<h1>Modifier mon mot de passe</h1>
		<a href="{{ path('app_account') }}" class="primary-btn"><i class="fa fa-arrow-left"></i> Mon compte</a><br>
		<hr>
		{% if notification %}
			<div class="alert alert-info">{{notification}}</div>
		{% endif %}
		{{form_start(form)}}
			<div class="row mt">
				<div class="col-md-12">{{form_row(form.email)}}</div>
				<div class="col-md-6">{{form_row(form.firstname)}}</div>
				<div class="col-md-6">{{form_row(form.lastname)}}</div>
				<div class="col-md-6">{{form_row(form.old_password)}}</div>
				<div class="col-md-6">{{form_row(form.new_password)}}</div>
				<div class="col-md-6">{{form_row(form.submit)}}</div>
			</div>
		{{form_end(form)}}
		<hr>
	</div>
</section>
{% endblock %}