{% extends 'base.html.twig' %}

{% block title %}Se connecter - La boutique Française
{% endblock %}


{% block content %}
<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<form method="post" >
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% for message in app.flashes('notice') %}
						<div class="alert alert-info">{{ message }}</div>
					{% endfor %}

					{% if app.user %}
					<div class="mb-3">
						Vous etes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
					{% endif %}

					<h1>Merci de vous connecter</h1>
					<label for="inputEmail">Votre Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
						placeholder="Votre adresse email" autocomplete="email" required autofocus>

					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-3"
						placeholder="Votre mot de passe" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="btn" type="submit">Se connecter</button>

					<p class="text-center">Où souhaitez-vous
						<a href="{{path('app_register')}}">Créer un compte</a>
					</p>
				</form>
			</div>
			
			<div class="col-2">
				<img src="images/showcase-1.png">
			</div>
		</div>
	</div>
</div>

{% endblock %}