{% extends 'base.html.twig' %}

{% block title %}Commande annulée - JSTech{% endblock %}

{% block content %}

{# {{ dump(order) }} #}

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Commande annulée</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                <li><a href="{{ path('app_account') }}">Mon compte</a></li>
                                <li class="active" aria-current="page">Commande annulée</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<div class="container">
    <h3>Bonjour <b>{{order.user.firstName}} {{order.user.lastName}}</b></h3>
    <br>
    <ul style="list-style:none;">
        <li>Vous avez annulé votre commande n° <b>{{order.reference}}</b></li>

        <li>Pour revenir vers <a href="{{path('app_cart')}}"><b>votre panier</b></a></li>
    </ul>
</div>

{% endblock %}
