{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ asset('/uploads/showcase/showcase-1.jpg') }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">Believe in Technology, Make the change</h1>
					<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Voluptas, modi fugit in veritatis labore perferendis. Minima hic at, nostrum nihil!</p>
					<a href="{{ path('app_nos_category') }}" class="btn btn-main">Tous nos produits</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section gallery" id="features">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading">
					<h2>Canon EOS 2000D + EF-S 18-55 mm IS II</h2>
				</div>
			</div>
			<div class="col-md-4">

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">POUR BIEN DÉBUTER</h4>
					<p>Le reflex Canon EOS 2000D possède un capteur ASP-C CMOS de 24.1 mégapixels pour capturer avec qualité vos émotions de la vie quotidienne. </p>
				</div>

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">LE PARTENAIRE DE VOTRE CRÉATIVITÉ</h4>
					<p>Avec une plage de sensibilité extensible jusqu'à 12800 ISO, vous pourrez obtenir des photos nocturnes inoubliables.</p>
				</div>

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">MODERNE ET PRATIQUE</h4>
					<p>Le Canon EOS 2000D intègre une connectivité sans fil pratique avec le Wi-Fi et la fonction NFC (compatible appareils Canon et Android).</p>
				</div>

			</div>
			<div class="block col-md-4 text-center mb-5 mb-lg-0">
				<div class="gallery-overlay">
					<a href="/produit/canon-eos-2000d-ef-s-18-55-mm-is-ii" class="gallery-popup">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
				<img class="img-fluid w-100" src="{{ asset('uploads/showcase/showcase-15.jpg')}}" alt="">
			</div>

			<div class="col-md-4">

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">ZOOM COMPACT ET POLYVALENT</h4>
					<p>L'EF-S 18-55 mm f/3,5-5,6 IS II est un zoom standard de haute qualité qui séduira les photographes qui souhaitent voyager léger.</p>
				</div>

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">Design compact et léger</h4>
					<p>Pour réduire le risque d'apparition du flou de bougé, il intègre le nouveau stabilisateur d'image optique Canon.</p>
				</div>

				<div class="mb-20 text-center">
					<i class="fa-solid fa-camera"></i>
					<h4 class="font-weight-bold mb-2">Design compact et léger</h4>
					<p>Du grand angle au court téléobjectif</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section bg-orange">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-lg-0">
				<img class="img-fluid" src="images/watch.png" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="content">
					<h2 class="subheading text-white font-weight-bold mb-10">Designed by professional , the benefit for
						creative gigs</h2>
					<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vel labore,
						deleniti minima nisi, velit atque quaerat impedit ea maxime sunt accusamus at obcaecati dolor
						iure iusto omnis quis eum.
						<br><br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi odit, illo, qui
						aliquam dol
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="gallery feature-list section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading">
					<h2>Nos Portables Phares</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="block col-md-6 text-center mb-5 mb-lg-0">
				<div class="gallery-overlay">
					<a href="/produit/apple-macbook-air-m2-2022" class="gallery-popup">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
				<img class="img-fluid w-100" src="{{ asset('uploads/showcase/showcase-13.jpg')}}" alt="">
			</div>

			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="content">
					<h4 class="subheading">Apple MacBook Air M2 (2022)</h4>
					<p>Boosté par la puce M2 nouvelle génération, le MacBook Air repensé offre des performances
						exceptionnelles et jusqu'à 18
						heures d'autonomie. Le tout, dans un boîtier en aluminium incroyablement fin.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="content">
					<h4 class="subheading">ASUS Vivobook S17 S712EAM-AU514W</h4>
					<p>Mince, élégant et sophistiqué, le PC portable ASUS Vivobook S17 S712JA vous offre la puissance et
						la mobilité dont vous avez besoin. Ce modèle sera adapté pour tous vos besoins du quotidien et
						pour le divertissement occasionnel.</p>
				</div>
			</div>
			<div class="block col-md-6 text-center mb-5 mb-lg-0">
				<div class="gallery-overlay">
					<a href="/produit/asus-vivobook-s17-s712eam-au514w" class="gallery-popup">
						<i class="fa-solid fa-plus"></i>
					</a>
				</div>
				<img class="img-fluid w-100" src="{{ asset('uploads/showcase/showcase-11.jpg')}}" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section call-to-action bg-opacity" style="background-image: url('images/call-to-action.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 text-center mx-auto">
				<h2 class="subheading text-white">Restez informé</h2>
				<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				<div class="input-group">
					<form action="" method="post" class="w-100" name="mc-embedded-subscribe-form" target="_blank">
						<input type="email" id="email" class="form-control" name="email"
							placeholder="Votre adresse email" required>
						<button class="btn btn-main btn-submit" type="submit" name="subscribe">Abonnement</button>
						<div style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="" tabindex="-1">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section testimonials" id="testimonial">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-12">
				<div class="heading">
					<h2>Watch Review</h2>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
				<div class="testimonial-block">
					<i class="tf-ion-quote"></i>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
						which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
						which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed
						in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
					<div class="author-details">
						<img src="images/avater.png" alt="Jacques Steeven">
						<h4>Jacques Steeven</h4>
						<span>CEO, JSTech</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
				<div class="testimonial-block">
					<i class="tf-ion-quote"></i>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
						which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
						which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed
						in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
					<div class="author-details">
						<img src="images/avater.png" alt="Jacques Steeven">
						<h4>Jacques Steeven</h4>
						<span>CEO, JSTech</span>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
				<div class="testimonial-block">
					<i class="tf-ion-quote"></i>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
						which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot,
						which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed
						in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
					<div class="author-details">
						<img src="images/avater.png" alt="Jacques Steeven">
						<h4>Jacques Steeven</h4>
						<span>CEO, JSTech</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}