{% extends 'base.html.twig' %}
{% block hero %}{% endblock %}

{% block title %}JSTech{% endblock %}

{% block content %}
<!-- Start Service Section -->
<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                        <div class="image">
                            <img src="{{ asset('images/icons/service-promo-5.png') }}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">LIVRAISON GRATUITE</h6>
                            <p>Obtenez 10 % de remise en argent, la livraison gratuite, des retours gratuits et bien plus encore</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="image">
                            <img src="{{ asset('images/icons/service-promo-6.png') }}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">SATISFAIT OU REMBOURSÉ 30 JOURS</h6>
                            <p>Satisfaction garantie à 100 % ou remboursement sous 30 jours !</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="image">
                            <img src="{{ asset('images/icons/service-promo-7.png') }}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">PAIEMENT SÉCURISÉ</h6>
                            <p>Payez avec les méthodes de paiement les plus populaires et sécurisées au monde.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="600">
                        <div class="image">
                            <img src="{{ asset('images/icons/service-promo-8.png') }}" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">CLIENT FIDELE</h6>
                            <p>Carte pour les 30 % restants de leurs achats à un taux de remise en argent de 1 %.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->

<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="{{ asset('images/banner/banner-style-7-img-1.jpg') }}" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img class="img-fluid" src="{{ asset('images/banner/banner-style-7-img-2.jpg') }}" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-7 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="400">
                <div class="image">
                    <img class="img-fluid" src="{{ asset('images/banner/banner-style-7-img-3.jpg') }}" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->

<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Nos nouveautés</h3>
                            <p>Découvrer-les</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-2rows default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-2row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                {% for product in productsNew %}
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a href="{{path('app_product', {'slug' : product.slug})}}" class="image-link">
                                            <img src="/uploads/{{product.illustration}}" alt="{{product.name}}">
                                        </a> 
                                        <div class="tag">
                                            <span>Nouveau</span>
                                        </div>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a href="{{path('add_to_cart', {'id' : product.id})}}">Ajouter au panier</a>
                                            </div>
                                            <div class="action-link-right">
                                                <a href="#"><i class="icon-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a href="{{path('app_product', {'slug' : product.slug})}}">{{product.name}}</a>
                                            </h6>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">{{(product.price/100) |number_format(2, ',', '.')}} €</span>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End Product Default Single Item -->

                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Default Slider Section -->

<!-- Start Banner Section -->
<div class="banner-section section-top-gap-100">
    <div class="banner-wrapper clearfix">
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="{{ asset('images/banner/banner-style-8-img-1.jpg') }}" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
        <!-- Start Banner Single Item -->
        <a href="product-details-default.html">
            <div class="banner-single-item banner-style-8 banner-animation banner-color--green float-left"
                data-aos="fade-up" data-aos-delay="200">
                <div class="image">
                    <img class="img-fluid" src="{{ asset('images/banner/banner-style-8-img-2.jpg') }}" alt="">
                </div>
            </div>
        </a>
        <!-- End Banner Single Item -->
    </div>
</div>
<!-- End Banner Section -->

<!-- Start Product Default Slider Section -->
<div class="product-default-slider-section section-fluid section-inner-bg">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Nos meilleurs ventes</h3>
                            <p>Découvrer-les</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-1row default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                {% for product in productsBest %}
                                    <div class="product-default-single-item product-color--pink swiper-slide">
                                        <div class="image-box">
                                            <a href="{{path('app_product', {'slug' : product.slug})}}" class="image-link">
                                                <img src="/uploads/{{product.illustration}}" alt="{{product.name}}">
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="{{path('add_to_cart', {'id' : product.id})}}">Ajouter au panier</a>
                                                </div>
                                                <div class="action-link-right">
                                                    <a href="#"><i class="icon-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a href="{{path('app_product', {'slug' : product.slug})}}">{{product.name}}</a>
                                                </h6>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">{{(product.price/100) |number_format(2, ',', '.')}} €</span>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- End Product Default Single Item -->

                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Default Slider Section -->

<!-- Start Company Logo Section -->
<div class="company-logo-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Nos partenaires</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="company-logo-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container company-logo-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-1.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-2.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-3.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-4.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-5.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-6.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-7.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid"
                                            src="{{ asset('images/company-logo/company-logo-8.png') }}" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Company Logo Section -->
{% endblock %}
