{% extends 'base.html.twig' %}
{% block landingPage %}{% endblock %}

{% block content %}


<div class="container-carousel">
    {# {{dump(headers)}} #}

    {# ****************************************************************** #}

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for key,header in headers %}
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{key}}" {% if key == 0 %} class="active" aria-current="true" aria-label="Slide 1"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for key,header in headers %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}" 
                    style="background: url('/uploads/{{header.illustration}}');
                            background-size: cover;
                            background-position: center; {# au cas où Pb avec bg position #}
                            background-position: {{header.backgroundPosition}};">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>{{header.title}}</h1>
                            <p>{{header.content}}</p>
                            <p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# ****************************************************************** #}
</div>
<!-- featured products -->
<div class="small-container">
    <h2 class="title">Nos meilleurs ventes</h2>

    <div class="product-row">
        {% for product in products %}
            <div class="col-4">
                <a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
                <a href="{{path('app_product', {'slug' : product.slug})}}"><h4>{{product.name}}</h4></a> 
                <p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
            </div>
        {% endfor %}
    </div>
    
    <h2 class="title">Nouveautés</h2>
    <div class="product-row">
        {% for product in productsNew %}
            <div class="col-4">
                <a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
                <a href="{{path('app_product', {'slug' : product.slug})}}"><h4>{{product.name}}</h4></a> 
                <p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
            </div>
        {% endfor %}
    </div>
</div>

<!-- offer -->

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Aviable on Jstech</p>
                <h1>Smart Band 4</h1>
                <small>The Mi Smart Band 4 Features a 39.9% larger (than Mi band 3) Amoled color full-touch display with adjustable brightness, so everything is clear as can be.</small><br>
                <a href="#" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- testimonial -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ipsam commodi dolores autem ipsum soluta ut vitae. Debitis temporibus consequuntur ullam cupiditate!</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <img src="images/user-1.png">
                <h3>Sean Parker</h3>
                <h3></h3>
            </div>
            <div class="col-3">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ipsam commodi dolores autem ipsum soluta ut vitae. Debitis temporibus consequuntur ullam cupiditate!</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <img src="images/user-2.png">
                <h3>Mike Smith</h3>
                <h3></h3>
            </div>
            <div class="col-3">
                <i class="fa-solid fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque ipsam commodi dolores autem ipsum soluta ut vitae. Debitis temporibus consequuntur ullam cupiditate!</p>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <img src="images/user-3.png">
                <h3>Mabel joe</h3>
                <h3></h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}