{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Contact
{% endblock %}

{% block content %}

	<section class="section">
		<div class="container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('danger') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			<div class="row justify-content-center">

				<div class="col-lg-5 col-sm-6 mb-5">
					<h2 class="font-weight-bold mb-4">Siège central</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
					<ul class="list-unstyled contact-list">
						<li class="mb-3">
							<a href="tel:0124857985320">
								<i class="tf-ion-ios-telephone mr-2"></i>
								0124857985320</a>
						</li>
						<li class="mb-3">
							<a href="mailto:demo@email.com">
								<i class="tf-ion-email mr-2"></i>jstech@email.com</a>
						</li>
						<li class="mb-3">
							<i class="tf-ion-ios-location mr-2"></i>Monté Carlos, Monaco
						</li>
					</ul>
				</div>

				<div class="col-lg-3 col-sm-6 mb-5">

					<h2 class="font-weight-bold mb-4">Nos horaires</h2>
					<ul class="list-unstyled">

						<li class="mb-2">Monday: 9:00 – 19:00</li>

						<li class="mb-2">Tuesday: 9:00 – 19:00</li>

						<li class="mb-2">Wednesday: 9:00 – 16:00</li>

						<li class="mb-2">Thursday: 9:00 – 19:00</li>

						<li class="mb-2">Friday: 9:00 – 19:00</li>

						<li class="mb-2">Saturday: 9:00 – 16:00</li>

						<li class="mb-2">sunday: 9:00 – 12:00</li>

					</ul>

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h2 class="font-weight-bold mb-4">Contact</h2>
					<form action="" method="POST" class="row">
						<div class="col-lg-6 mb-3">
							{{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 mb-3">
							{{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
						</div>

						{{ form(form) }}
						</form>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
