{% extends 'base.html.twig' %}

{% block title %}jstech{% endblock %}

{% block content %}
{# <pre>
    {{ dump(category) }}
    {{ dump(category.0.id) }}
    {{ dump(category.0.name) }}
</pre> #}

<div class="small-container category">
    <!-- Start Tab Wrapper -->
    <div class="sort-product-tab-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content">
                        <!-- Start Grid View Product -->
                        <div class="tab-pane active show sort-layout-single" id="layout-4-grid">
                            <div class="row" style="justify-content: center;">
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--golden"
                                        data-aos="fade-up" data-aos-delay="0">
                                        <div class="image-box">
                                            <a href="#" class="image-link">
                                                <img src="{{ asset('images/product/default/home-3/default-14.jpg') }}"
                                                    alt="">
                                                <img src="{{ asset('images/product/default/home-3/default-17.jpg') }}"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <h5 class="m-4">Image et son</h5>
                                            <p><a href="{{ path('app_category', {'id' : category.6.id}) }}">{{ (category.6.name) }}</a></p>
                                            <p><a href="{{ path('app_category', {'id' : category.7.id}) }}">{{ (category.7.name) }}</a></p>
                                            <p><a href="{{ path('app_category', {'id' : category.8.id}) }}">{{ (category.8.name) }}</a></p>
                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                            </div>
                        </div> <!-- End Grid View Product -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Tab Wrapper -->

{% endblock %}