{% extends 'base.html.twig' %}

{% block title %}Tous Nos produit{% endblock %}

{% block content %}
{# <pre>
    {{ dump(category) }}
    {{ dump(category.0.id) }}
    {{ dump(category.0.name) }}
</pre> #}
<div class="container-carousel">
    
    {# {{dump(headers)}} #}

    {# ****************************************************************** #}

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for key,header in headers %}
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{key}}" {% if key == 0 %} class="active" aria-current="true" aria-label="Slide 1"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for key,header in headers %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}" 
                    style="background: url('/uploads/{{header.illustration}}');
                            background-size: cover;
                            background-position: center; {# au cas où Pb avec bg position #}
                            background-position: {{header.backgroundPosition}};">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>{{header.title}}</h1>
                            <p>{{header.content}}</p>
                            <p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# ****************************************************************** #}
</div>

<div class="small-container category">

<h2 class="title">Catégories</h2>
    <div class="row">

        <div class="col-4 cat-card">
            <img src="{{ asset('images/pc-portable.jpg') }}">
            <h3>Ordinateurs Portables</h3>
            <div class="category-list">
                <p><a href="{{ path('app_category', {'id' : category.4.id}) }}">{{ (category.4.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.5.id}) }}">{{ (category.5.name) }}</a></p>
            </div>
        </div>
        <div class="col-4 cat-card">
            <img src="{{ asset('images/apple-watch.jpg') }}">
            <h3>Object connecté</h3>
            <div class="category-list">
                <p><a href="{{ path('app_category', {'id' : category.0.id}) }}">{{ (category.0.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.1.id}) }}">{{ (category.1.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.9.id}) }}">{{ (category.9.name) }}</a></p> 
            </div>
        </div>
        <div class="col-4 cat-card">
            <img src="{{ asset('images/iphone.jpg') }}">
            <h3>Téléphonie</h3>
            <div class="category-list">
                <p><a href="{{ path('app_category', {'id' : category.2.id}) }}">{{ (category.2.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.3.id}) }}">{{ (category.3.name) }}</a></p>
            </div>
        </div>
        <div class="col-4 cat-card">
            <img src="{{ asset('images/tv.jpg') }}">
            <h3>Image et son</h3>
            <div class="category-list">
                <p><a href="{{ path('app_category', {'id' : category.6.id}) }}">{{ (category.6.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.7.id}) }}">{{ (category.7.name) }}</a></p>
                <p><a href="{{ path('app_category', {'id' : category.8.id}) }}">{{ (category.8.name) }}</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}