{# 
    Boucle 
    Pour chaque produit ...

    {% for product in category.products %}
        {{ dump(product) }}
    {% endfor %}

    #[ORM\OneToMany(mappedBy: 'category', targetEntity: Product::class)]
    private Collection $products;

    public function __construct()
    {
        $this->products = new ArrayCollection();
    }

 #}

{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}


{% block content %}

<div class="small-container">
    <h2 class="title">{{category.name}}</h2>
	<div class="row row-2">
        {# {% for product in category.products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                {{ dump(product) }}
            </div>
        {% endfor %} #}

        {% for product in category.products %}
            <!-- product -->
            <div class="col-4">
                <a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
                <h4>{{product.name}}</h4>
                <p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
            </div>
            <!-- /product -->
        {% endfor %}

    </div>
</div>

{% endblock %}