{% extends 'base.html.twig' %}

{% block content %}

<div class="small-container">
	<div class="row row-2">
		<h2>Tous nos produits</h2>
		<select>
			<option>Default Shorting</option>
			<option>Short by price Shorting</option>
			<option>Short by popularity</option>
			<option>Short by rating</option>
			<option>Short by sale</option>
		</select>
	</div>

	<div class="row">
		{% for product in products %}
			<div class="col-4">
				<a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
				<h4>{{product.name}}</h4>
				<p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
			</div>
		{% endfor %}

	</div>

</div>

{% endblock %}
