{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<!-- sigle product details -->
<div class="small-container single-product">
	<div class="row">
		<div class="col-2">
			<img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" width="100%" id="ProductImg">

			<div class="small-img-row">
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration1}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration2}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration3}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
			</div>
		</div>

		<!-- product -->
		<div class="col-2">
			<h1>{{product.name}}</h1>
			<h4>{{(product.price/100) |number_format(2, ',', '.')}} €</h4>
			<a href="{{path('add_to_cart', {'id' : product.id})}}" class="btn">Ajouter au panier</a>
			<h3>{{product.subtitle}}<i class="fa-solid fa-indent"></i></h3>
			<br>
			<p>{{product.description}}</p>
		</div>
	</div>
</div>

<!-- Related Products -->

<div class="small-container">

	<h2 class="title">Nos meilleurs ventes</h2>

	<div class="row">
        {% for product in products %}
            <div class="col-4">
                <a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
                <a href="{{path('app_product', {'slug' : product.slug})}}"><h4>{{product.name}}</h4></a> 
                <p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
            </div>
        {% endfor %}
    </div>

	<h2 class="title">Nouveautés</h2>
    <div class="row">
       {% for product in productsNew %}
            <div class="col-4">
                <a href="{{path('app_product', {'slug' : product.slug})}}" class="gallery-popup"><img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid"></a> 
                <a href="{{path('app_product', {'slug' : product.slug})}}"><h4>{{product.name}}</h4></a> 
                <p>{{(product.price/100) |number_format(2, ',', '.')}} €</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}



 