{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<!-- sigle product details -->
<div class="small-container single-product">
	<div class="row">
		<div class="col-2">
			<img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" width="100%" id="ProductImg">

			<div class="small-img-row">
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration1}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration2}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
				<div class="small-img-col">
					<img src="/uploads/{{ product.illustration3}}" alt="{{product.name}}" width="100%" class="small-img">
				</div>
			</div>
		</div>

		<!-- product -->
		<div class="col-2">
			<h1>{{product.name}}</h1>
			<h4>{{(product.price/100) |number_format(2, ',', '.')}} €</h4>
			<a href="{{path('add_to_cart', {'id' : product.id})}}" class="btn">Ajouter au panier</a>
			<h3>{{product.subtitle}}<i class="fa-solid fa-indent"></i></h3>
			<br>
			<p>{{product.description}}</p>
		</div>
	</div>
</div>

<!-- Related Products -->
<div class="small-container">
	<div class="row row-2">
		<h2>Related Products</h2>
		<p>View More</p>
	</div>
</div>

<div class="small-container">

	<div class="row">
		<div class="col-4">
			<img src="{{ asset('images/product-1.jpg') }}">
			<h4>Red Printed T-Shirt</h4>
			<p>€50.00</p>
		</div>
		<div class="col-4">
			<img src="{{ asset('images/product-2.jpg') }}">
			<h4>Red Printed T-Shirt</h4>
			<p>€50.00</p>
		</div>
		<div class="col-4">
			<img src="{{ asset('images/product-3.jpg') }}">
			<h4>Red Printed T-Shirt</h4>
			<p>€50.00</p>
		</div>
		<div class="col-4">
			<img src="{{ asset('images/product-4.jpg') }}">
			<h4>Red Printed T-Shirt</h4>
			<p>€50.00</p>
		</div>
	</div>

</div>

{% endblock %}



 