{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}
    <section class="section gallery">
		<div class="container">
		<a class="btn btn-second" href="#" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Retour</a>
		<br>
			<div class="row mt-5 pt-2 ">
                {# Gauche #}
				<div class="col-md-5 mb-4 mb-md-0">
					<div class="product_image">
						  <!-- Full-width images with number text -->
                            <div class="mySlides">
                                <div class="numbertext">1 / 4</div>
                                <img src="{{asset('uploads/showcase/showcase-1.jpg')}}" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">2 / 4</div>
                                <img src="{{asset('uploads/showcase/showcase-2.jpg')}}" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">3 / 4</div>
                                <img src="{{asset('uploads/showcase/showcase-3.jpg')}}" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">4 / 4</div>
                                <img src="{{asset('uploads/showcase/showcase-4.jpg')}}" style="width:100%">
                            </div>

                            <!-- Next and previous buttons -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>


                            <!-- Thumbnail images -->
                            <div class="row justify-content-center">
                                <div class="column m-1">
                                    <img class="demo cursor" src="{{asset('uploads/showcase/showcase-1.jpg')}}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                                </div>
                                <div class="column m-1">
                                    <img class="demo cursor" src="{{asset('uploads/showcase/showcase-2.jpg')}}" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                                </div>
                                <div class="column m-1">
                                    <img class="demo cursor" src="{{asset('uploads/showcase/showcase-3.jpg')}}" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                                </div>
                                <div class="column m-1">
                                    <img class="demo cursor" src="{{asset('uploads/showcase/showcase-4.jpg')}}" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                                </div>
                            </div>
					</div>
				</div>
                {# Droite #}
				<div class="col-lg-6 col-md-7 offset-lg-1">
				</div>
			</div>
		</div>
	</section>
{% endblock %}
