<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Steeven Jacques">
		
		<title>jstech</title>

        {% block stylesheets %}
            <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

            <!-- Bootstrap -->
            <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

			<!-- Slick -->
			<link type="text/css" rel="stylesheet" href="{{ asset('assets/css/slick.css') }}"/>
			<link type="text/css" rel="stylesheet" href="{{ asset('assets/css/slick-theme.css') }}"/>

            <!-- nouislider -->
            <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/nouislider.min.css') }}" /> 

            <!-- Font Awesome Icon -->
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

            <!-- Css -->
			<link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
			<link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
        <!-- HEADER -->
		<header>

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row header-resp">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo header-ctn">
								<a href="{{ path('app_home') }}" class="logo">
									<img src="{{ asset('uploads/logo.png') }}" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-4 header-search">
							<div>
								<form>
									{# <select class="input-select">
										<option value="0">All Categories</option>
										<option value="1">Category 01</option>
										<option value="1">Category 02</option>
									</select> #}
									<input class="input" placeholder="Search here">
									<button class="search-btn">Rechercher</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-5 header-resp-menu">
							<div class="header-ctn">
								
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Mes favoris</span>
										<div class="qty">0</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a href="{{ path('app_cart') }}">
										<i class="fa fa-shopping-cart"></i>
										<span>Panier</span>
										<div class="qty">{{cart|length}}</div>
									</a>
								</div>
								<!-- /Cart -->

								{% if app.user %}
								<!-- Mon compte -->
								<div>
									<a href="{{ path('app_account') }}">
										<i class="fa fa-user"></i>
										<span>Mon compte</span>
									</a>
								</div>
								<!-- /Mon compte -->

								<!-- Déconnexion -->
								<div>
									<a href="{{ path('app_logout') }}">
										<i class="fa fa-sign-out"></i>
										<span>Déconnexion</span>
									</a>
								</div>
								<!-- /Déconnexion -->
								{% else %}
								<!-- Connexion -->
								<div>
									<a href="{{ path('app_login') }}">
										<i class="fa fa-user"></i>
										<span>Connexion</span>
									</a>
								</div>
								<!-- /Connexion -->

								
								<!-- Inscription -->
								<div>
									<a href="{{ path('app_register') }}">
										<i class="fa fa-bookmark"></i>
										<span>Inscription</span>
									</a>
								</div>
								<!-- /Inscription -->
								{% endif %}
								
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Accueil</a></li>
						<li><a href="#">Meilleurs ventes</a></li>
						<li><a href="#">Ordinateurs portables</a></li>
						<li><a href="#">Smart watch</a></li>
						<li><a href="#">Smartphones</a></li>
						<li><a href="{{ path('app_nos_category') }}">Tous nos produits</a></li>		
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- Carousel -->
		{% if block('carousel') is defined %}
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for key,header in headers %}
					<li data-target="#myCarousel" data-slide-to="{{key}}" {% if key == 0 %} class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for key,header in headers %}
				{# -id: 1
				-title: "Nouvelle collection"
				-content: "Découvrez notre collection créée par nos artisans et nos couturiers."
				-btnTitle: "Découvrez"
				-btnUrl: "/nos-produits"
				-illustration: "header-04d1383d1eecefefec8f4eb9b8166e95eb1e7efa.jpg" #}
					<div class="carousel-item {% if key == 0 %}active{% endif %}" 
						style="background: url('/uploads/{{header.illustration}}');
								background-size: cover;
								background-position: center; {# au cas où Pb avec bg position #}
								background-position: {{header.backgroundPosition}};">
						<div class="container">
							<div class="carousel-caption text-left">
								<h1>{{header.title}}</h1>
								<p>{{header.content}}</p>
								<p><a class="btn btn-lg btn-info" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		{% endif %}
		<!-- /Carousel -->
		
		{% block content %}{% endblock %}

        <!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<p>[1] Votre adresse de messagerie est uniquement utilisée pour vous envoyer notre lettre d'information ainsi que des informations concernant les activités du GROUPE JSTCH. Vous pouvez à tout moment utiliser le lien de désabonnement intégré dans la newsletter.</p>
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>1734 Monte Carlo Monaco</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>jstech-contact@jstech.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Plan du site</h3>
								<ul class="footer-links">
									<li><a href="#">Meilleurs ventes</a></li>
									<li><a href="#">Ordinateurs portables</a></li>
									<li><a href="#">Smart watch</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="{{ path('app_nos_category') }}">Tous nos produits</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">Mon compte</a></li>
									<li><a href="#">Panier</a></li>
									<li><a href="#">Liste de souhait</a></li>
									<li><a href="#">Mes commandes</a></li>
									<li><a href="#">Aide</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved | JSTech <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/steeven-js" target="_blank">steeven-js</a>
							</span>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

        <!-- jQuery Plugins -->
        {% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('assets/js/slick.min.js') }}"></script>
			<script src="{{ asset('assets/js/nouislider.min.js') }}"></script>
			<script src="{{ asset('assets/js/jquery.zoom.min.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
