<!DOCTYPE html>
<html>
    <head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name="description" content="jstech">
		<meta name="author" content="Jacques steeven">
		<meta name='viewport' content='width=device-width, initial-scale=1'>

		<title>{% block title %}jstech{% endblock %}</title>

		<!-- google font -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<!-- fontawesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- css -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/carousel.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		{% endblock %}
		
	</head>

    <body>

		{% if block('landingPage') is defined %}
				<div class="header">
					<div class="container">
						<div class="navbar">
							<div class="logo">
								<a href="{{ path('app_home') }}"><img src="{{ asset('uploads/showcase/logo.png') }}" width="125px"></a> 
							</div>
							<nav>
								<ul id="MenuItems">
									<li><a href="{{ path('app_nos_category') }}">Tous nos produits</a></li>
									<li><a href="#">A propos</a></li>
									<li><a href="#">Contact</a></li>
									{% if app.user %}
									<li><a href="{{ path('app_account') }}">Mon compte</a></li>
									<li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
									{% else %}
									<li><a href="{{ path('app_login') }}">Connexion</a></li>
									<li><a href="{{ path('app_register') }}">Inscription</a></li>
									{% endif %}
								</ul>
							</nav>
							<a href="{{ path('app_cart') }}"><img src="{{ asset('images/cart.png') }}" width="30px" height="30px"></a> 
							<img src="{{ asset('images/menu.png') }}" class="menu-icon" onclick="menutoggle()">
						</div>
						<div class="row">
							<div class="col-2">
								<h1>Give Your Workout <br> A new Style!</h1>
								<p>Success isn't always about greatness. It's about consitency. Consistent <br> hard work gains sucess. Greatness will come.</p>
								<a href="#" class="btn">Explore now &#8594;</a>
							</div>
							<div class="col-2">
								<img src="{{ asset('images/showcase-1.png') }}">
							</div>
						</div>
					</div>
				</div>
		{% else %}
			<div class="container">
				<div class="navbar">
					<div class="logo">
						<a href="{{ path('app_home') }}"><img src="{{ asset('uploads/showcase/logo.png') }}" width="125px"></a> 
					</div>
					<nav>
						<ul id="MenuItems">
							<li><a href="{{ path('app_nos_category') }}">Tous nos produits</a></li>
							<li><a href="#">A propos</a></li>
							<li><a href="#">Contact</a></li>
							{% if app.user %}
							<li><a href="{{ path('app_account') }}">Mon compte</a></li>
							<li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
							{% else %}
							<li><a href="{{ path('app_login') }}">Connexion</a></li>
							<li><a href="{{ path('app_register') }}">Inscription</a></li>
							{% endif %}
						</ul>
					</nav>
					<a href="{{ path('app_cart') }}"><img src="{{ asset('images/cart.png')}}" width="30px" height="30px"></a> 
					<img src="{{ asset('images/menu.png')}}" class="menu-icon" onclick="menutoggle()">
				</div>
			</div>
		{% endif %}

		{% block content %}{% endblock %}

		<!-- brands -->

		<div class="brands">
			<div class="small-container">
				<div class="row">
					<div class="col-5">
						<img src="{{ asset('images/logo-godrej.png') }}">
					</div>
					<div class="col-5">
						<img src="{{ asset('images/logo-oppo.png') }}">
					</div>
					<div class="col-5">
						<img src="{{ asset('images/logo-coca-cola.png') }}">
					</div>
					<div class="col-5">
						<img src="{{ asset('images/logo-paypal.png') }}">
					</div>
					<div class="col-5">
						<img src="{{ asset('images/logo-philips.png') }}">
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="footer-col-1">
						<h3>Dowload Our App</h3>
						<p>Dowload App for Android and ios mobile phone</p>
						<div class="app-logo">
							<img src="{{ asset('images/app-store.png')}}">
							<img src="{{ asset('images/play-store.png')}}">
						</div>
					</div>
					<div class="footer-col-2">
						<img src="{{ asset('uploads/showcase/logo-2.png') }}">
						<p>Our Purpose Is To Sustainably Make the Pleasure ans Benefits of Sport Accessible to the Many. </p>
					</div>
					<div class="footer-col-3">
						<h3>Useful Link</h3>
						<ul>
							<li>Coupon</li>
							<li>Blog Post</li>
							<li>Return Policy</li>
							<li>Join Affiliate</li>
						</ul>
					</div>
					<div class="footer-col-4">
						<h3>Follow us</h3>
						<ul>
							<li>Facebook</li>
							<li>Twitter</li>
							<li>Instragram</li>
							<li>Youtube</li>
						</ul>
					</div>
				</div>
				<hr>
				<p class="copyright">Copyright 2022 - jstech</p>
			</div>
		</div>

		<!-- script js-->
		{% block javascript %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
			<script src='{{ asset('assets/js/main.js') }}'></script>
		{% endblock %}

	</body>
</html>
