<!DOCTYPE html>

<html lang="en">

	<head>

		{# ** Basic Page Needs ** #}

		<meta charset="utf-8">
		<title>JSTech</title>

		{# ** Mobile Specific Metas ** #}

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Vex HTML Template">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
		<meta name="author" content="Jacques Steeven">
		<meta name="generator" content="Jacques Steeven JSTech">


		{# ** Stylesheets #}
		{% block stylesheets %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
			integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />


		<link href="{{ asset('assets/plugins/themefisher-font/themefisher-font.min.css')}}" rel="stylesheet">
		<link href="{{ asset('assets/plugins/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{ asset('assets/css/style.css')}}" rel="stylesheet">
		<link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
		{% endblock %}

	</head>

	<body id="body">

		<header class="navigation sticky-top bg-white">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="{{ path('app_home') }}">
						<img src="{{ asset('uploads/showcase/logo.png')}}" alt="JS" width="100px">
					</a>
					<button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse"
						data-target="#navigation" aria-controls="navigation" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse text-center" id="navigation">
						<ul class="navbar-nav ml-auto mr-n0 mr-md-n3">
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_nos_category')}}">Tous Nos Produits</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#!" id="dropdown03" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">Navigation <i
										class="tf-ion-chevron-down"></i></a>
								<ul class="dropdown-menu" aria-labelledby="dropdown03">

									<li class="dropdown dropdown-submenu dropright">
										<a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301"
											role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">Portables <i class="fa-solid fa-laptop"></i></a>

										<ul class="dropdown-menu" aria-labelledby="dropdown0301">
											<li><a class="dropdown-item" href="/category/5"><i class="fa-solid fa-laptop"></i> PC portable</a></li>
											<li><a class="dropdown-item" href="/category/6"><i class="fa-solid fa-laptop"></i> MacBook</a></li>
										</ul>
									</li>

									<li class="dropdown dropdown-submenu dropleft">
										<a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301"
											role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"><i class="fa-solid fa-circle-nodes"></i> Objets connectés</a>

										<ul class="dropdown-menu" aria-labelledby="dropdown0301">
											<li><a class="dropdown-item" href="/category/1"><i class="fa-regular fa-clock"></i> Apple watch</a></li>
											<li><a class="dropdown-item" href="/category/2"><i class="fa-regular fa-clock"></i> Android watch</a></li>
										</ul>
									</li>

									<li class="dropdown dropdown-submenu dropright">
										<a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301"
											role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">Téléphonie <i class="fa-solid fa-mobile-screen-button"></i></a>

										<ul class="dropdown-menu" aria-labelledby="dropdown0301">
											<li><a class="dropdown-item" href="/category/3"><i class="fa-solid fa-mobile-screen-button"></i> Iphone</a></li>
											<li><a class="dropdown-item" href="/category/4"><i class="fa-solid fa-mobile-screen-button"></i> Smartphone Android</a></li>
										</ul>
									</li>

									<li class="dropdown dropdown-submenu dropleft">
										<a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301"
											role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"><i class="fa-solid fa-tv"></i> Image et son</a>

										<ul class="dropdown-menu" aria-labelledby="dropdown0301">
											<li><a class="dropdown-item" href="/category/7"><i class="fa-solid fa-tv"></i> Télévision</a></li>
											<li><a class="dropdown-item" href="/category/8"><i class="fa-solid fa-camera"></i> Appareil Photo</a></li>
											<li><a class="dropdown-item" href="/category/9"><i class="fa-solid fa-headphones"></i> Son Numérique</a></li>
										</ul>
									</li>

									<li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
									<li><a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a></li>
									<li><a class="dropdown-item" href="terms-conditions.html">Terms Conditions</a></li>
								</ul>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{{path('app_contact')}}">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_cart')}}">
									<i class="fa-solid fa-cart-shopping"></i>
								</a>
							</li>
							{# Si l'utilisateur est identifié, j'affiche les liens suivant #}
							{% if app.user %}
							<a class="nav-link" href="{{ path('app_account') }}">
								<i class="fa-solid fa-house-user"></i>
								<small>({{ app.user.firstname }})</small>
							</a>
							|
							<a class="nav-link" href="{{ path('app_logout') }}">
								<i class="fa-solid fa-arrow-right-from-bracket"></i>
							</a>
							<a class="nav-link" href="#">
								<i class="fa-brands fa-instagram"></i>
							</a>
							<a class="nav-link" href="#">
								<i class="fa-brands fa-twitter"></i>
							</a>
							{# Si l'utilisateur n'est pas identifié, j'affiche les liens suivant #}
							{% else %}
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							|
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
							<a class="nav-link" href="#">
								<i class="fa-brands fa-instagram"></i>
							</a>
							<a class="nav-link" href="#">
								<i class="fa-brands fa-twitter"></i>
							</a>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<main role="main">

			{% if block('carousel') is defined %}
				{# {{dump(headers)}} #}
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for key,header in headers %}
							<li data-target="#myCarousel" data-slide-to="{{key}}" {% if key == 0 %} class="active"{% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for key,header in headers %}
						{# -id: 1
						-title: "Nouvelle collection"
						-content: "Découvrez notre collection créée par nos artisans et nos couturiers."
						-btnTitle: "Découvrez"
						-btnUrl: "/nos-produits"
						-illustration: "header-04d1383d1eecefefec8f4eb9b8166e95eb1e7efa.jpg" #}
							<div class="carousel-item {% if key == 0 %}active{% endif %}" 
								style="background: url('/uploads/{{header.illustration}}');
										background-size: cover;
										background-position: center; {# au cas où Pb avec bg position #}
										background-position: {{header.backgroundPosition}};">
								<div class="container">
									<div class="carousel-caption text-left" style="color: {{ header.textColor }}">
										<h1>{{header.title}}</h1>
										<p>{{header.content}}</p>
										<p><a class="btn btn-lg btn-main" href="{{header.btnUrl}}" role="button">{{header.btnTitle}}</a></p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% endif %}

			{% block content %}{% endblock %}

		</main>

		<!-- FOOTER -->
		<footer>
			<div class="container text-center">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<a href="index.html" class="mb-4 d-inline-block">
								<img src="{{ asset('uploads/showcase/logo.png')}}" alt="JS" width="100px">
							</a>
							<ul class="list-inline footer-menu">

								<li class="list-inline-item">
									<a href="#">Blog</a>
								</li>

								<li class="list-inline-item">
									<a href="{{path('app_contact')}}">Contact</a>
								</li>

								<li class="list-inline-item">
									<a href="#">Terms &amp; Conditions</a>
								</li>

								<li class="list-inline-item">
									<a href="#">Privacy Policy</a>
								</li>

							</ul>
							<p class="copyright-text">Copyright &copy; 2022, Designed &amp; Developed By
								<a href="https://github.com/steeven-js">Jacques Steeven</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>

	{% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="{{ asset('assets/js/bootstrap.bundle.js')}}"></script>
	{% endblock %}
</html>