{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}

<section class="commande-recap-page">
    <div class="container">

        <h1>Mon récapitulatif</h1>
        <p>Vérifiez vos information avant de payer votre commande.</p>

        <div class="recap">
            <div class="gauche">
                <strong>Mon adresse de livraison</strong><br>
                <div class="recap-adresse">
                    {{ delivery|raw }}
                </div>

                <strong>Mon transporteur</strong>

                <div class="recap-carrier">
                    {# {{ dump(carrier) }} #}
                    {{ carrier.name }}
                    <br>
                    {{ carrier.description }}
                    <br>
                    {{ (carrier.price / 100) |number_format(2, ',', '.') }} €
                </div>
            </div>

            <div class="droite">
                <strong>Ma commande</strong>

                

                    {% set total = null %}

                    {% for product in cart %}
                        <div class="order-sumary">
                            <div>
                                <img height="45px" src="/uploads/{{ product.product.illustration }}"alt="{{ product.product.name }}"><br>
                            </div>

                            <div class="text">
                                {{ product.product.name }}
                                <br>
                                <small>
                                    ({{ product.product.subtitle }})
                                    <br>
                                    x{{ product.quantity }}
                                </small>
                            </div>

                            <div class="price">
                                <p>{{ ((product.product.price * product.quantity) / 100) |number_format(2, ',', '.') }} €</p> 
                            </div>
                        </div>

                        {% set total = total + (product.product.price * product.quantity) %}

                    {% endfor %}

                {# {{ dump(carrier) }} #}

                <div class="total">
                    <strong>Sous-Total :</strong> {{ (total / 100) |number_format(2, ',', '.') }} €

                    <br>

                    <strong>Livraison :</strong> {{ (carrier.price / 100) |number_format(2, ',', '.') }} €

                    <hr>

                    <strong>Total :</strong> {{ ((total / 100) + carrier.price / 100)|number_format(2, ',', '.') }}€

                    <br>

                    <a href="{{ path('stripe_create_session', {'reference': reference}) }}"class="btn btn-success btn-main mt-4">Payer | {{ ((total / 100) + carrier.price / 100) | number_format(2, ',', '.') }} €</a>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}