{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}

    <section class="section">
        <div class="container">

            <h2>Mon récapitulatif</h2>
            <p>Vérifiez vos information avant de payer votre commande.</p>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <strong>Mon adresse de livraison</strong><br>
                    <div class="form-check">
                        {{ delivery|raw }}
                    </div>

                    <hr>
                    <strong>Mon transporteur</strong>

                    <div class="form-check">
                        {# {{ dump(carrier) }} #}
                        {{ carrier.name }}
                        <br>
                        {{ carrier.description }}
                        <br>
                        {{ (carrier.price / 100) |number_format(2, ',', '.') }} €
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="text-center text-center">
                        <b>Ma commande</b>
                        <br>
                    </div>
                    <div class="order-sumary">
                        {# key permet de compter... #}
                        {% set total = null %}

                        {% for key,product in cart %}
                            <div class="row {% if key > 0 %} mt-2 {% endif %}">
                                <div class="col-md-2">
                                    <img class="p-1 mx-1 my-0" height="75px" src="/uploads/{{ product.product.illustration }}"alt="{{ product.product.name }}"><br>
                                </div>

                                <div class="col-md-8">
                                    {{ product.product.name }}
                                    <br>
                                    <small>
                                        ({{ product.product.subtitle }})
                                        <br>
                                        x{{ product.quantity }}
                                    </small>
                                </div>

                                <div class="col-md-2">
                                    {{ ((product.product.price * product.quantity) / 100) |number_format(2, ',', '.') }} €
                                </div>
                            </div>

                            {% set total = total + (product.product.price * product.quantity) %}

                        {% endfor %}
                    </div>

                    {# {{ dump(carrier) }} #}
                    <hr>

                    <strong>Sous-Total :</strong> {{ (total / 100) |number_format(2, ',', '.') }} €

                    <br>

                    <strong>Livraison :</strong> {{ (carrier.price / 100) |number_format(2, ',', '.') }} €

                    <hr>

                    <strong>Total :</strong> {{ ((total / 100) + carrier.price / 100)|number_format(2, ',', '.') }}€

                    <br>

                    <a href="{{ path('stripe_create_session', {'reference': reference}) }}"class="btn btn-success btn-main mt-4">Payer | {{ ((total / 100) + carrier.price / 100) | number_format(2, ',', '.') }} €</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}