{% extends 'base.html.twig' %}

{% block title %}Je passe ma commande{% endblock %}

{% block content %}

<div class="account-page">
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Je passe ma commande</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                    <li><a href="{{ path('app_nos_category') }}">Produits</a></li>
                                    <li class="active" aria-current="page">Je passe ma commande</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

	<div class="container">
		<!-- ...:::: Start Checkout Section:::... -->
		<div class="checkout-section">
			<div class="container">
				<!-- Start User Details Checkout Form -->
				<div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<h3>Adresses et transporteurs</h3>
							<div class="order_div">
								{% set formHtml %}
									{{ form_start( form, {action : path('app_order_recap')} )}}
										
									{{ form_end(form) }}
								{% endset %}

								{{formHtml|replace({'[br]' : '<br>'})|raw}}
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<form action="#">
								<h3>Votre commande</h3>
								<div class="order_table table-responsive">
									<table>
										<thead>
											<tr>
												<th>Image</th>
												<th>Nom</th>
												<th>Quantité</th>
											</tr>
										</thead>
										<tbody>
											{# key permet de compter... #}
				
											{% for key,product in cart %}
												<tr>
													<td><img width="75px" src="/uploads/{{product.product.illustration}}"alt="{{product.product.name}}"> </td>
													<td>{{product.product.name}} <small>({{product.product.subtitle}})</small></td>
													<td>x {{product.quantity}} &nbsp;&nbsp;</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div> <!-- Start User Details Checkout Form -->
			</div>
		</div><!-- ...:::: End Checkout Section:::... -->	
	</div>
</div>

{% endblock %}